
header{
    background-color: darkgreen;
}

nav {
    text-align: right;
}

nav ul li {
    display: inline;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height:  10px;
}