
header{
    background-color: darkgreen;
}

nav {
    text-align: right;
}

nav ul li {
    display: inline;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height:  35px;
    font-size: 25px;
}

img {
    margin:  0 auto;
    display: block;
}

#img_text {
    margin: 0 auto;
    display: block;
    text-align: center;
}